
/* Styles pour la bannière */
.banner-container {
    background-image: url('../../assets/Image/background-cut.png'); /* Remplacez par votre image de fond */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Occuper toute la hauteur de l'écran */
    width: 100%;
    position: relative;
    overflow: hidden;
}

.banner-content {
    text-align: center;
    color: #fff;
    z-index: 2; /* Assure que le contenu soit au-dessus de tout overlay */
    padding: 20px;
}

.banner-title {
    font-size: 3em;
    font-weight: bold;
    color: #ff80c0;
    text-shadow: 0 0 10px rgba(255, 128, 192, 0.8), 0 0 20px rgba(255, 128, 192, 0.5);
    margin: 0 0 20px;
}

.banner-subtitle {
    font-size: 1.5em;
    color: #80d0ff;
    margin-bottom: 30px;
    display: block;
    text-shadow: 0 0 5px rgba(128, 208, 255, 0.8), 0 0 10px rgba(128, 208, 255, 0.5);
}

.banner-button {
    background-color: #ff80c0;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(255, 128, 192, 0.8), 0 0 20px rgba(255, 128, 192, 0.5);
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.banner-button:hover {
    background-color: #ff4a9c;
    box-shadow: 0 0 15px rgba(255, 74, 156, 0.9), 0 0 25px rgba(255, 74, 156, 0.6);
    transform: translateY(-3px);
}

.banner-button:active {
    transform: scale(0.98);
}
/* Style Global */
body {
    background-color: #1e1e30;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

/* Container principal */
.container {
    width: 100%;
    max-width: 1200px;
    padding: 100px;
}

/* Conteneur pour la section des caractéristiques */
.features-section {
    display: flex;
    flex-direction: horizontal;
    gap: 0px; /* Espacement entre les articles */
}

/* Conteneur individuel pour chaque élément caractéristique */
.feature-item {
    display: flex;
    flex-direction:column;
    gap: 20px; /* Espacement entre l'image et le texte */
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    background-color: #1e1e30;
}

/* Conteneur de l'image */
.feature-image-container img {
    max-width: 1000px; /* Taille maximale de l'image */
    height: 350px;
}

/* Conteneur du texte */
.feature-text-container {
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* Titre et description */
.feature-title {
    color: #ff80c0;
    margin: 25px 0;
    font-size: 1.5em;
}

.feature-description {
    color: #80d0ff;
    margin: 0;
    font-size: 1em;
}


/* Section des statistiques */
.stats-section {
    display: flex;
    justify-content: flex-end;
    padding: 40px;
    margin: 100px 40px;
}

.stat-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 25px; 
    row-gap: 50px; 
    text-align: center;
    width: 450px;
    height: 300px;
}

.stat-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(255, 128, 192, 0.8), 0 0 20px rgba(255, 128, 192, 0.5);
    padding: 10px; 
    background-color: #1e1e30; 

    height: 100%; 
}

.stat-value {
    font-size: 2em;
    color: #ff80c0;
}

.stat-label {
    font-size: 1em;
    color: #80d0ff;
}

.image_jeux {
    width: 450px;
    height: 325px;
    position:relative ;
    left: -145px;


}



/* Section de l'équipe */
.team-section {
    margin-bottom: 40px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    text-align: center; 
}

/* Titre de la section (Notre équipe) */
.team-title {
    color: #ff80c0;
    margin-bottom: 80px;
    font-size: 2em;
    text-align: center; 
    width: 100%;
    display: block;
}

/* Conteneur pour chaque membre */
.team-member {
    display: inline-block;
    margin: 20px;
    text-align: center;
    padding: 20px;
    background-color: #1e1e30;
    box-shadow: 0 0 5px rgba(255, 128, 192, 0.8), 0 0 20px rgba(255, 128, 192, 0.5);
    width: 175px;
}

/* Image du membre */
.team-member-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 128, 255, 0.5);
    margin-bottom: 10px;
}

/* Nom du membre */
.team-member-name {
    margin-top: 10px;
    font-size: 1.2em;
    color: #fff; 
}

/* Rôle du membre */
.team-role {
    color: #80d0ff;
    font-size: 0.9em;
}


.phrase_equipe{
    color:#80d0ff;
}

.fleurdelis {
    height: 200px;
    position: absolute;
}